<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/product.css">
<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <div class="container-fluid">
        <!-- Navbar brand/logo -->
        <a class="navbar-brand" href="#">HẬUSPORT</a>

        <!-- Toggle button for mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listProduct">List Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addproduct">Add Product</a>
                </li>
            </ul>
        </div>
    </div>
</nav>